<h2>My First Angular Application</h2>

<!-- <app-employee></app-employee> -->
<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding1></app-event-binding1> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-for-directive></app-for-directive> -->
<!-- <app-switch-directive></app-switch-directive> -->
<app-parent></app-parent>